page-home {
    
}
.blue {
    background-color: blue;
}
.center {
    position: absolute;
    top: 40%;
    left: 45%;
}
.default {
    background-color: white;
}
.green {
    background-color: green;
}
.huge {
    text-align: center;
    font-size: 120px;
}
.page {
    width: 100%;
    height: 100%;
}
.red {
    background-color: red;
}